body{
    background-color:#000000;
    overflow-x: hidden;
}
.wow {
    animation-duration: 1s !important;
}
.delay-1 {
    animation-delay: .1s !important;
}
.delay-2 {
    animation-delay: .2s !important;
}
.delay-3 {
    animation-delay: .3s !important;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
.myLogo{
    font-family: auto;
}
#header{
    padding: 40px 0px;
    width: 100%;
    top: 0;
}
video{
  height: 110vh;
}
#slider{ 
    top: 0;
    left: 0;
    margin-top: 180px;
}
#header .nav li a{
   transition: all ease .3s;
}
#header .nav li a:hover{
    color: var(--color-1) !important;
}
#slider .img-box{
    height: 500px;
    padding-left: 120px;
}
.myname{
margin-top: 80px;
}
.contact-me{
    padding: 15px 40px;
    padding-right: 60px;
}
.contact-me:hover .bouncingball {
    animation: bounce .4s infinite;
}
.bouncingball {
    width:6px;
    height:6px;
   background-color: var(--color-3);
    border-radius: 25px;
    animation-iteration-count: infinite ;
    position:absolute;
    margin-top: 11px;
    margin-left: 15px;
animation-duration: 5s;
  }
  @keyframes bounce {
	0% {
        transform: translateY(-10px);

    }50% {
		
        transform: translateY(0px);
	}
	100% {
        transform: translateY(10px);

	}
}


/* ------------------------------------------------------------ */
 .heading h2::after{
    content: " ";
    display: inline-block;
    border-bottom: solid var(--color-1);
    width: 40px;
    height: 2px;
}
nav .nav-tabs{
    border: 0;
}
nav .nav-tabs .skillBorder{
    border-bottom: 2px solid var(--color-1);
}
.nav-tabs .nav-link {
    border: 0;
    padding: 0;
    border-radius: 0;
    margin-right: 50px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--color-1) !important;
    background-color: transparent;
}

.dot1 {
    top: 100px;
    right: 100px;
}
.dot2 {
    bottom: 50px;
    left: 0px;
    z-index: 1;
}

/* ----------------------------------------- */

#my-Services .services-content{
    background-color: rgb(79, 78, 78);
    transition: all ease .3s;
}
#my-Services .services-content img{
    height: 50px;
    width: 50px;
}
.service-btn{
    transition: all ease .3s;
}
.service-btn:hover svg{
    animation: blick .3s alternate ease;
}
@keyframes blick  {
    0%{
        translate: 0;
    }
    50%{
        translate: 10px;
    }
    100%{
        translate: 0;
    }
}

#my-Services .services-content:hover{
    transform: translateY(-20px);
    background-color: var(--color-1);
}
#my-Services .services-content{
    position: relative;
    padding: 40px;
}
.services-content::before{
    position: absolute;
    content: " ";
    border-top: 2px solid white;
    border-left: 2px solid white;
    display: inline-block;
    left: 0;
    top: 0;
    transition: all ease .5s;
    width: 40px;
    height: 40px;
}
.services-content::after{
    position: absolute;
    content: " ";
    display: inline-block;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    bottom: 0;
    right: 0;
    transition: all ease .5s;
    width: 40px;
    height: 40px;
}
.services-content:hover::before{
    width: 50%;
    height: 50%;
}
.services-content:hover::after{
    width: 50%;
    height: 50%;
}
/* ------------------------------------------- */

.overlay {
    background-color: #101010c1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all ease .3s;
}
.my-work-content{
    overflow: hidden;
}
.my-work-content:hover img{
    transform: scale(1.1);
}
.my-work-content img{
    transition: all ease .3s;
}
.work-Img-box{
    height: 350px;
}
.my-work-content .more-up-icon {
    padding: 10px 15px;
    display: inline-block;
    margin-top: 30px;
    transition: all ease .6s;
}
.my-work-content:hover .overlay{
    opacity: 1;
    pointer-events: all;
}
.my-work-content .overlay:hover .more-up-icon {
    margin-top: 0px;
}

.more-up-icon:hover{
    background-color: var(--color-1);
    color: var(--color-3);
}
/* ----------------------------------------- */
#footer{
background-color: var(--color-2);
padding: 60px 0px;
}

#footer .social-link a{
    padding: 10px 14px ;
    transition: all ease .5s;
}
#footer .social-link a:hover{
background-color: var(--color-1) !important;
box-shadow: 0 5px 10px #8f8f8f;
}
#footer .social-link a .bi{
    transition: all ease .3s;
}
#footer .social-link a:hover .bi{
    color: var(--color-3);
}

.input-group{
    margin-bottom: 40px;
    position: relative;
}
input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #b9b7b7;
    background-color: rgb(79, 78, 78);
    font-size: 15px;
    color: white;
}
label{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: all ease .3s;
}
button{
    padding: 10px ;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;
}
